body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background:
    radial-gradient(circle at top, rgba(90,120,255,0.25), transparent 60%),
    linear-gradient(135deg,
      rgba(5,10,35,1),
      rgba(2,4,18,1),
      rgba(0,0,0,1)
    );
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.game-container {
  width: 95%;
  max-width: 480px;
  background: rgba(255,255,255,0.07);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

.round {
  font-size: 14px;
  opacity: 0.8;
}


.visual {
  height: 220px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  border-radius: 22px;
  padding: 8px;

  
 

  box-shadow:
    0 0 20px rgba(90,120,255,0.6),
    0 0 40px rgba(0,255,200,0.3);
}


.step-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 16px;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  animation: none;
}

@keyframes fadeZoom {
  from { transform: scale(0.95); opacity: 0.8; }
  to { transform: scale(1.05); opacity: 1; }
}

.instruction {
  font-size: 25px;
  min-height: 70px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

button.paused {
  background: linear-gradient(135deg, #555, #222) !important;
  box-shadow: 0 0 15px yellow !important;
  color: yellow;
}


button:nth-child(1) {
  background: linear-gradient(135deg, #00ff9d, #00c07a);
  box-shadow: 0 0 10px #00ff9d;
}


button:nth-child(2) {
  background: linear-gradient(135deg, #ffaa00, #ff8800);
  box-shadow: 0 0 10px #ffaa00;
}


button:nth-child(3) {
  background: linear-gradient(135deg, #ff4d4d, #cc0000);
  box-shadow: 0 0 10px #ff4d4d;
}

button:hover {
  filter: brightness(1.2);
}

button:active {
  transform: scale(0.95);
}

.finished {
  color: #7CFF9A;
  font-size: 20px;
}

.main-title {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;

  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1px;

  background: linear-gradient(135deg, #6aa8ff, #4cffd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 20px rgba(90,120,255,0.6);
}
